node_modules
*.hpp
*.ipp
*.cpp
ios/Pods/*
*.h
*.SUNWCCh
*.lock
*.so
android/app/build/*
*.apk
*.txt
*.jar
*.jar
*.dex
android/app/build/outputs/apk/.DS_Store
android/app/build/outputs/.DS_Store
*.aab
*.dex
*.ap_
android/app/.DS_Store
android/.idea/*
*.txt
*.dex
*.properties
*.dex
.idea/*
android/.gradle/*
*.bin
