./android
node_modules
*.hpp
*.ipp
*.cpp
ios/Pods/*
*.h
*.SUNWCCh
*.lock
*.so
android/app/build/*
*.apk
*.txt
*.jar
*.jar
*.dex
android/app/build/outputs/apk/.DS_Store
android/app/build/outputs/.DS_Store
*.aab
*.dex
*.ap_
*.bin
*.bin
android/.gradle/7.0.2/javaCompile/classAnalysis.bin
android/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
android/.idea/*
android/app/.DS_Store
*.bin
*.txt
*.dex
*.bin
*.bin
*.properties
*.dex
*.bin
*.bin
*.bin
.idea/*
